<div class="section">
  <h1>{{ title }}</h1>
  <div class="contact-card">
    <form [formGroup]="formService.form" (submit)="formService.onSubmit(formService.form.value)">
      <mat-grid-list cols="1" rowHeight="80px">
        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>Name</mat-label>
            <input
              matInput
              formControlName="name"
              placeholder="Enter your name"
            />
            <mat-error>Please fill the name</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input
              matInput
              formControlName="email"
              placeholder="Enter your email"
            />
            <mat-error>Please fill the email</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>Phone</mat-label>
            <input
              matInput
              formControlName="phone"
              placeholder="Enter your name"
            />
            <mat-error>Please fill the phone</mat-error>
          </mat-form-field>
        </mat-grid-tile>

        <mat-grid-tile>
          <mat-form-field appearance="fill">
            <mat-label>Profession</mat-label>
            <input
              matInput
              formControlName="profession"
              placeholder="Enter your name"
            />
            <mat-error>Please fill the Profession</mat-error>
          </mat-form-field>
        </mat-grid-tile>
      </mat-grid-list>
      <button
        [ngStyle]="{ width: '100%' }"
        mat-flat-button
        color="primary"
        type="submit"
        [disabled]="formService.form.invalid" 
      >
        Add New Contact
      </button>
    </form>
  </div>
</div>
